GameClient/GameClient/Service References/GameServiceReference/GameService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Option3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quest" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Questionno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
</xs:schema>