GameClient/GameClient/Service References/GameServiceReference/GameService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="GameService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="GameService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="GameService/Imports">
      <xsd:import namespace="GameService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGamePlay_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_StartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:StartGame" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_reStartGame_InputMessage">
    <wsdl:part name="parameters" element="tns:reStartGame" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_PauseGame_InputMessage">
    <wsdl:part name="parameters" element="tns:PauseGame" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_PauseGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:PauseGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_FinishGame_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishGame" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_FinishGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishGameResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_AnswerQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AnswerQuestion" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_AskClientQuestion_InputMessage">
    <wsdl:part name="parameters" element="tns:AskClientQuestion" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_StartNotify_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartNotify" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_StartNotify_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartNotifyResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_reStartNotify_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:reStartNotify" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_reStartNotify_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:reStartNotifyResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_PauseNotify_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PauseNotify" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_PauseNotify_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PauseNotifyResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_LeaveNotify_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LeaveNotify" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_LeaveNotify_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LeaveNotifyResponse" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_AskQuestion_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:AskQuestion" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_ReceiveMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveMessage" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_StartClients_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:StartClients" />
  </wsdl:message>
  <wsdl:message name="IGamePlay_FinishNotify_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:FinishNotify" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IGamePlay">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="GameService/IGamePlay/Connect" message="tns:IGamePlay_Connect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartGame">
      <wsdl:input wsaw:Action="GameService/IGamePlay/StartGame" message="tns:IGamePlay_StartGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="reStartGame">
      <wsdl:input wsaw:Action="GameService/IGamePlay/reStartGame" message="tns:IGamePlay_reStartGame_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PauseGame">
      <wsdl:input wsaw:Action="GameService/IGamePlay/PauseGame" message="tns:IGamePlay_PauseGame_InputMessage" />
      <wsdl:output wsaw:Action="GameService/IGamePlay/PauseGameResponse" message="tns:IGamePlay_PauseGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FinishGame">
      <wsdl:input wsaw:Action="GameService/IGamePlay/FinishGame" message="tns:IGamePlay_FinishGame_InputMessage" />
      <wsdl:output wsaw:Action="GameService/IGamePlay/FinishGameResponse" message="tns:IGamePlay_FinishGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AnswerQuestion">
      <wsdl:input wsaw:Action="GameService/IGamePlay/AnswerQuestion" message="tns:IGamePlay_AnswerQuestion_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:input wsaw:Action="GameService/IGamePlay/SendMessage" message="tns:IGamePlay_SendMessage_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AskClientQuestion">
      <wsdl:input wsaw:Action="GameService/IGamePlay/AskClientQuestion" message="tns:IGamePlay_AskClientQuestion_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartNotify">
      <wsdl:output wsaw:Action="GameService/IGamePlay/StartNotify" message="tns:IGamePlay_StartNotify_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="GameService/IGamePlay/StartNotifyResponse" message="tns:IGamePlay_StartNotify_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="reStartNotify">
      <wsdl:output wsaw:Action="GameService/IGamePlay/reStartNotify" message="tns:IGamePlay_reStartNotify_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="GameService/IGamePlay/reStartNotifyResponse" message="tns:IGamePlay_reStartNotify_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PauseNotify">
      <wsdl:output wsaw:Action="GameService/IGamePlay/PauseNotify" message="tns:IGamePlay_PauseNotify_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="GameService/IGamePlay/PauseNotifyResponse" message="tns:IGamePlay_PauseNotify_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LeaveNotify">
      <wsdl:output wsaw:Action="GameService/IGamePlay/LeaveNotify" message="tns:IGamePlay_LeaveNotify_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="GameService/IGamePlay/LeaveNotifyResponse" message="tns:IGamePlay_LeaveNotify_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AskQuestion">
      <wsdl:output wsaw:Action="GameService/IGamePlay/AskQuestion" message="tns:IGamePlay_AskQuestion_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveMessage">
      <wsdl:output wsaw:Action="GameService/IGamePlay/ReceiveMessage" message="tns:IGamePlay_ReceiveMessage_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartClients">
      <wsdl:output wsaw:Action="GameService/IGamePlay/StartClients" message="tns:IGamePlay_StartClients_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="FinishNotify">
      <wsdl:output wsaw:Action="GameService/IGamePlay/FinishNotify" message="tns:IGamePlay_FinishNotify_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>